@charset "UTF-8";
/*-----------------------------------*
  $TOAST-GRID

  An insane grid.
  You'd be mad to use it.

  Usage
  =====

  Assuming default values:

  <div class="grid">
    <div class="grid__col grid__col--1-of-2">
      A half-width column.
    </div>
    <div class="grid__col grid__col--1-of-4 grid__col--pull-1-of-4">
      A quarter, pulled left by its own width. You get this, right?
    </div>
  </div>


  Customisation
  =============

  $toast-grid-namespace and $toast-grid-column-namespace
  adjusts the class names for the grid. With
  default values, grid wrappers have a class
  of '.grid' and columns '.grid__col'.

  $toast-col-groups(n) adjusts column divisions.
  For example, $toast-col-groups(12) will produce
  a 12-column grid. $col-groups(3,6,8)
  will produce a 3-, 6-, and 8-column grid.

  $toast-gutter-width is—you guessed it—the gutter
  width. Accepts any unit.

  That's it. Have fun.

\*-----------------------------------*/
.row {
  list-style: none;
  margin-left: -20px;
}

.col--2-of-2, .col--3-of-3, .col--4-of-4, .col--5-of-5, .col--6-of-6, .col--8-of-8, .col--12-of-12 {
  width: 100%;
}

.col--1-of-2, .col--2-of-4, .col--3-of-6, .col--4-of-8, .col--6-of-12 {
  width: 50%;
}

.col--1-of-3, .col--2-of-6, .col--4-of-12 {
  width: 33.33333%;
}

.col--2-of-3, .col--4-of-6, .col--8-of-12 {
  width: 66.66667%;
}

.col--1-of-4, .col--2-of-8, .col--3-of-12 {
  width: 25%;
}

.col--3-of-4, .col--6-of-8, .col--9-of-12 {
  width: 75%;
}

.col--push-2-of-2, .col--push-3-of-3, .col--push-4-of-4, .col--push-5-of-5, .col--push-6-of-6, .col--push-8-of-8, .col--push-12-of-12 {
  margin-left: 100%;
}

.col--push-1-of-2, .col--push-2-of-4, .col--push-3-of-6, .col--push-4-of-8, .col--push-6-of-12 {
  margin-left: 50%;
}

.col--push-1-of-3, .col--push-2-of-6, .col--push-4-of-12 {
  margin-left: 33.33333%;
}

.col--push-2-of-3, .col--push-4-of-6, .col--push-8-of-12 {
  margin-left: 66.66667%;
}

.col--push-1-of-4, .col--push-2-of-8, .col--push-3-of-12 {
  margin-left: 25%;
}

.col--push-3-of-4, .col--push-6-of-8, .col--push-9-of-12 {
  margin-left: 75%;
}

.col--pull-2-of-2, .col--pull-3-of-3, .col--pull-4-of-4, .col--pull-5-of-5, .col--pull-6-of-6, .col--pull-8-of-8, .col--pull-12-of-12 {
  margin-left: -100%;
}

.col--pull-1-of-2, .col--pull-2-of-4, .col--pull-3-of-6, .col--pull-4-of-8, .col--pull-6-of-12 {
  margin-left: -50%;
}

.col--pull-1-of-3, .col--pull-2-of-6, .col--pull-4-of-12 {
  margin-left: -33.33333%;
}

.col--pull-2-of-3, .col--pull-4-of-6, .col--pull-8-of-12 {
  margin-left: -66.66667%;
}

.col--pull-1-of-4, .col--pull-2-of-8, .col--pull-3-of-12 {
  margin-left: -25%;
}

.col--pull-3-of-4, .col--pull-6-of-8, .col--pull-9-of-12 {
  margin-left: -75%;
}

.col--1-of-5 {
  width: 20%;
}

.col--push-1-of-5 {
  margin-left: 20%;
}

.col--pull-1-of-5 {
  margin-left: -20%;
}

.col--2-of-5 {
  width: 40%;
}

.col--push-2-of-5 {
  margin-left: 40%;
}

.col--pull-2-of-5 {
  margin-left: -40%;
}

.col--3-of-5 {
  width: 60%;
}

.col--push-3-of-5 {
  margin-left: 60%;
}

.col--pull-3-of-5 {
  margin-left: -60%;
}

.col--4-of-5 {
  width: 80%;
}

.col--push-4-of-5 {
  margin-left: 80%;
}

.col--pull-4-of-5 {
  margin-left: -80%;
}

.col--1-of-6 {
  width: 16.66667%;
}

.col--push-1-of-6 {
  margin-left: 16.66667%;
}

.col--pull-1-of-6 {
  margin-left: -16.66667%;
}

.col--5-of-6 {
  width: 83.33333%;
}

.col--push-5-of-6 {
  margin-left: 83.33333%;
}

.col--pull-5-of-6 {
  margin-left: -83.33333%;
}

.col--1-of-8 {
  width: 12.5%;
}

.col--push-1-of-8 {
  margin-left: 12.5%;
}

.col--pull-1-of-8 {
  margin-left: -12.5%;
}

.col--3-of-8 {
  width: 37.5%;
}

.col--push-3-of-8 {
  margin-left: 37.5%;
}

.col--pull-3-of-8 {
  margin-left: -37.5%;
}

.col--5-of-8 {
  width: 62.5%;
}

.col--push-5-of-8 {
  margin-left: 62.5%;
}

.col--pull-5-of-8 {
  margin-left: -62.5%;
}

.col--7-of-8 {
  width: 87.5%;
}

.col--push-7-of-8 {
  margin-left: 87.5%;
}

.col--pull-7-of-8 {
  margin-left: -87.5%;
}

.col--1-of-12 {
  width: 8.33333%;
}

.col--push-1-of-12 {
  margin-left: 8.33333%;
}

.col--pull-1-of-12 {
  margin-left: -8.33333%;
}

.col--2-of-12 {
  width: 16.66667%;
}

.col--push-2-of-12 {
  margin-left: 16.66667%;
}

.col--pull-2-of-12 {
  margin-left: -16.66667%;
}

.col--5-of-12 {
  width: 41.66667%;
}

.col--push-5-of-12 {
  margin-left: 41.66667%;
}

.col--pull-5-of-12 {
  margin-left: -41.66667%;
}

.col--7-of-12 {
  width: 58.33333%;
}

.col--push-7-of-12 {
  margin-left: 58.33333%;
}

.col--pull-7-of-12 {
  margin-left: -58.33333%;
}

.col--10-of-12 {
  width: 83.33333%;
}

.col--push-10-of-12 {
  margin-left: 83.33333%;
}

.col--pull-10-of-12 {
  margin-left: -83.33333%;
}

.col--11-of-12 {
  width: 91.66667%;
}

.col--push-11-of-12 {
  margin-left: 91.66667%;
}

.col--pull-11-of-12 {
  margin-left: -91.66667%;
}

.col {
  box-sizing: border-box;
  display: inline-block;
  margin-right: -.25em;
  min-height: 1px;
  padding-left: 20px;
  vertical-align: top;
}

@media (max-width: 700px) {
  .col {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }
}

@media (max-width: 700px) and (min-width: 480px) {
  .col[class*="col--m-"] {
    display: inline-block;
    margin-right: -.24em;
  }
  .col.col--m-1-of-2, .col.col--m-2-of-4 {
    width: 50%;
  }
  .col.col--m-1-of-3 {
    width: 33.33333%;
  }
  .col.col--m-2-of-3 {
    width: 66.66667%;
  }
  .col.col--m-1-of-4 {
    width: 25%;
  }
  .col.col--m-3-of-4 {
    width: 75%;
  }
  .col.col--m-1-of-12 {
    width: 8.33333%;
  }
  .col.col--m-2-of-12 {
    width: 16.66667%;
  }
  .col.col--m-3-of-12 {
    width: 25%;
  }
  .col.col--m-4-of-12 {
    width: 33.33333%;
  }
  .col.col--m-5-of-12 {
    width: 41.66667%;
  }
  .col.col--m-6-of-12 {
    width: 50%;
  }
  .col.col--m-7-of-12 {
    width: 58.33333%;
  }
  .col.col--m-8-of-12 {
    width: 66.66667%;
  }
  .col.col--m-9-of-12 {
    width: 75%;
  }
  .col.col--m-10-of-12 {
    width: 83.33333%;
  }
  .col.col--m-11-of-12 {
    width: 91.66667%;
  }
  .col.col--m-12-of-12 {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .col[class*="col--s-"] {
    display: inline-block;
    margin-right: -.24em;
  }
  .col.col--s-1-of-2, .col.col--s-2-of-4 {
    width: 50%;
  }
  .col.col--s-1-of-3 {
    width: 33.33333%;
  }
  .col.col--s-2-of-3 {
    width: 66.66667%;
  }
  .col.col--s-1-of-4 {
    width: 25%;
  }
  .col.col--s-3-of-4 {
    width: 75%;
  }
  .col.col--s-1-of-12 {
    width: 8.33333%;
  }
  .col.col--s-2-of-12 {
    width: 16.66667%;
  }
  .col.col--s-3-of-12 {
    width: 25%;
  }
  .col.col--s-4-of-12 {
    width: 33.33333%;
  }
  .col.col--s-5-of-12 {
    width: 41.66667%;
  }
  .col.col--s-6-of-12 {
    width: 50%;
  }
  .col.col--s-7-of-12 {
    width: 58.33333%;
  }
  .col.col--s-8-of-12 {
    width: 66.66667%;
  }
  .col.col--s-9-of-12 {
    width: 75%;
  }
  .col.col--s-10-of-12 {
    width: 83.33333%;
  }
  .col.col--s-11-of-12 {
    width: 91.66667%;
  }
  .col.col--s-12-of-12 {
    width: 100%;
  }
}

.col--centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col--d-first {
  float: left;
}

.col--d-last {
  float: right;
}

.row--no-gutter {
  margin-left: 0;
  width: 100%;
}

.row--no-gutter .col {
  padding-left: 0;
}

.row--no-gutter .col--span-all {
  margin-left: 0;
  width: 100%;
}

.col--ab {
  vertical-align: bottom;
}

.col--am {
  vertical-align: middle;
}

.container {
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 70%;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/*importing fonts*/
@font-face {
  font-family: 'brandon';
  font-style: normal;
  font-weight: 300;
  src: url("../media/fonts/brandon-medium.ttf");
}

@font-face {
  font-family: 'brandon';
  font-style: normal;
  font-weight: 600;
  src: url("../media/fonts/brandon-bold.ttf");
}

@font-face {
  font-family: 'brandon';
  font-style: normal;
  font-weight: 900;
  src: url("../media/fonts/brandon-black.ttf");
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-moz-selection {
  background: rgba(255, 235, 0, 0.51);
}

::selection {
  background: rgba(255, 235, 0, 0.51);
}

.j-left {
  text-align: left;
  border-left: 2px solid;
}

.j-right {
  text-align: right;
  border-right: 2px solid;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}

h1 {
  font-size: 2.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "brandon", sans-serif;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

.uc {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.project-banner-bg {
  background-image: url(../media/images/portfolio-banner.jpg);
}

.banner-content-projects {
  padding: 19vh 0;
  text-transform: uppercase;
  font-family: "brandon", sans-serif;
  text-align: center;
}

.banner-content-projects h1 {
  display: inline-block;
  border: 7px solid;
  font-size: 5em;
  letter-spacing: 13px;
  padding: 27px 60px;
}

.banner-content-projects h2 {
  letter-spacing: 5px;
  font-size: 2em;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 900;
}

/*styling portfolio navigation*/
nav.portfolio-nav {
  text-align: center;
  text-transform: uppercase;
  margin-top: 100px;
  font-size: 1.5em;
  font-family: "brandon", sans-serif;
  font-weight: 900;
}

nav.portfolio-nav ul li {
  display: inline;
  margin: 0 20px;
}

nav.portfolio-nav ul li a {
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 3px;
  transition: all 300ms;
}

nav.portfolio-nav ul li a:hover {
  color: black;
}

/* portfolio */
.portfolio-container {
  padding-left: 15px;
  width: 70%;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .portfolio-container {
    width: 900px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 641px) {
  .portfolio-container {
    width: 70%;
  }
}

@media screen and (max-width: 640px) {
  .portfolio-container {
    width: 85%;
  }
}

.portfolio {
  font-size: 1.5em;
  margin-top: 200px;
  padding-top: 30px;
}

.portfolio-title .icon {
  font-size: 40px;
}

.portfolio-title h3 {
  text-transform: uppercase;
  margin-top: 40px;
  background: #fff;
  display: inline-block;
  padding: 10px 90px;
  position: relative;
  z-index: 99999;
  top: 18px;
}

.project {
  position: relative;
  width: 100%;
  height: auto;
  position: relative;
  margin-top: -3px;
  overflow: hidden;
}

.project img {
  width: 100%;
  transition: all 1s;
  -webkit-filter: grayscale(0.9) contrast(0.6) brightness(1.15) opacity(0.9);
}

.project .project-hover {
  border-radius: 3px;
  position: absolute;
  top: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  opacity: 0;
  transition: all 500ms;
}

.project .project-hover h3 {
  font-size: .9em;
  font: "brandon", sans-serif;
  line-height: 1.5em;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.8);
  padding: 7px 13px 7px 13px;
  transition: all 400ms;
}

.project:hover {
  cursor: pointer;
}

.project:hover img {
  -webkit-filter: grayscale(0) contrast(1);
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}

.project:hover .project-hover {
  top: 35%;
  visibility: visible;
  opacity: 1;
}

.project:hover h3:hover {
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.4);
}

.portfolio .load-more {
  font-size: 14px;
  letter-spacing: 2px;
  margin-top: 20px;
  text-transform: uppercase;
}

/*Specify web section*/
.portfolio-web .portfolio-title h3 {
  color: #0db376;
}

.portfolio-web .project-wrapper {
  border: 2px solid #0db376;
  height: auto;
  padding: 70px;
}

.portfolio-web .project-wrapper .row--no-gutter {
  margin: -3px 0;
}

.portfolio-web .project .project-hover {
  background: rgba(13, 179, 118, 0.7);
}

.portfolio-web .load-more {
  color: #0db376;
}

/*Specify Mobile section*/
.portfolio-mobile .portfolio-title h3 {
  color: #3a5465;
}

.portfolio-mobile .project-wrapper {
  border: 2px solid #3a5465;
  height: auto;
  padding: 30px 30px;
}

.portfolio-mobile .project {
  width: 90%;
  margin: 15px auto;
  padding: 15px;
}

.portfolio-mobile .project img {
  border: solid rgba(255, 255, 255, 0);
  border-radius: 15px;
}

.portfolio-mobile .project .project-hover {
  background: rgba(58, 84, 101, 0.7);
}

.portfolio-mobile .load-more {
  color: #3a5465;
}

.portfolio-mobile .project:hover img {
  border: solid #fff;
  box-shadow: 0 10px 15px -6px rgba(0, 0, 0, 0.4);
}

/*Specify Landing section*/
.portfolio-landing .portfolio-title h3 {
  color: #3d3931;
}

.portfolio-landing .project-wrapper {
  border: 2px solid #3d3931;
  height: auto;
  padding: 65px 40px;
}

.portfolio-landing .project {
  width: 93%;
  margin: 20px auto;
}

.portfolio-landing .project .project-hover {
  background: rgba(61, 57, 49, 0.7);
}

.portfolio-landing .load-more {
  color: #3d3931;
}

/*Specify branding section*/
.portfolio-branding .portfolio-title h3 {
  color: #000;
}

.portfolio-branding .project-wrapper {
  border: 2px solid #000;
  height: auto;
  padding: 65px 31px;
}

.portfolio-branding .project-wrapper .row--no-gutter {
  margin: -3px 0;
}

.portfolio-branding .project .project-hover {
  background: rgba(0, 0, 0, 0.7);
}

.portfolio-branding .load-more {
  color: #000;
}

/*Specify graphic section*/
.portfolio-graphic .portfolio-title h3 {
  color: #de703c;
}

.portfolio-graphic .project-wrapper {
  border: 2px solid #de703c;
  height: auto;
  padding: 65px 31px;
}

.portfolio-graphic .project-wrapper .row--no-gutter {
  margin: -3px 0;
}

.portfolio-graphic .project {
  margin: 8px 0;
}

.portfolio-graphic .project .project-hover {
  background: rgba(222, 112, 60, 0.7);
}

.portfolio-graphic .load-more {
  color: #de703c;
}

/*Specify flash section*/
.portfolio-flash .portfolio-title h3 {
  color: #ff304f;
}

.portfolio-flash .project-wrapper {
  border: 2px solid #ff304f;
  height: auto;
  padding: 70px;
}

.portfolio-flash .project-wrapper .row--no-gutter {
  margin: -3px 0;
}

.portfolio-flash .project {
  margin: 8px 0;
}

.portfolio-flash .project .project-hover {
  background: rgba(255, 48, 79, 0.7);
}

.portfolio-flash .load-more {
  color: #ff304f;
}

.about-banner-bg {
  background-image: url(../media/images/about-me-banner.jpg);
}

.top-banner {
  background-size: cover;
  background-position: center;
  padding-top: 50px;
  height: 100%;
}

.top-banner .logo {
  float: left;
  font-family: "brandon", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  opacity: .65;
  letter-spacing: 8px;
  margin-left: 10px;
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  unicode-bidi: bidi-override;
  direction: rtl;
}

nav.main-navigation {
  float: right;
  margin-right: 10px;
}

nav.main-navigation ul li {
  display: inline-block;
}

nav.main-navigation ul li a {
  font-family: "brandon", sans-serif;
  font-size: 1.3em;
  font-weight: 900;
  letter-spacing: 4px;
  opacity: .6;
  margin-left: 20px;
}

nav.main-navigation ul li a .active {
  visibility: hidden;
  margin: 12px auto;
  text-align: center;
  width: 20px;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
}

nav.main-navigation ul li a:hover {
  opacity: .9;
}

nav.main-navigation ul li a:hover .active {
  visibility: visible;
}

.banner-content-about {
  text-transform: uppercase;
  margin: 15% 0 10% 6%;
  font-family: "brandon", sans-serif;
}

.banner-content-about p {
  letter-spacing: 5px;
  font-weight: 600;
  line-height: 30px;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.8);
}

.banner-content-about h1 {
  margin-top: 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  display: inline-block;
  font-size: 3em;
  letter-spacing: 10px;
  padding: 15px 13px 15px 20px;
}

.banner-content-about h2 {
  font-size: 4.5em;
  letter-spacing: 15px;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.8);
  display: block;
  padding: 7px 13px 15px 20px;
}

.page-title {
  text-align: center;
  position: relative;
  top: 20px;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.8);
}

.page-title a {
  text-transform: uppercase;
  font-family: "brandon", sans-serif;
  font-size: 1.1em;
  font-weight: 900;
  background: #fff;
  display: inline-block;
  letter-spacing: 8px;
  margin: 0 auto;
  border-radius: 6px;
  padding: 13px 46px;
  box-shadow: 0px 0px 32px -3px rgba(0, 0, 0, 0.2);
}

section.about-content .about-me-description {
  margin-top: 85px;
  text-align: center;
}

section.about-content .about-me-description img {
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}

section.about-content .about-me-description p {
  margin-top: 60px;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.9);
}

section.work-journey {
  margin-top: 40px;
}

section.work-journey figure {
  margin: 40px;
}

section.work-journey figure img {
  width: 100px;
}

section.work-journey article.journey h1 {
  font-family: "brandon", sans-serif;
  font-size: 30px;
  letter-spacing: 13px;
  font-weight: 600;
  line-height: 80px;
}

.j-detail {
  font-family: "brandon", sans-serif;
  font-weight: 600;
  font-size: 1.6em;
  letter-spacing: 3px;
  line-height: 26px;
  text-transform: capitalize;
}

.j-detail:hover {
  border-color: #27AF81;
}

.j-detail p {
  margin-top: 50px;
}

.j-detail p:hover {
  color: #27AF81;
}

.j-detail p:first-child {
  margin-top: 18px !important;
}

.j-detail.j-right {
  padding: 0 10px 20px 0;
}

.j-detail.j-left {
  padding: 0 0 20px 10px;
}

.footer {
  position: relative;
}

.footer .footer-social-wrap {
  background: url(../media/images/footer-bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  overflow: auto;
  position: relative;
  width: 100%;
  height: 500px;
}

.footer .footer-social-wrap .footer-social {
  position: absolute;
  bottom: 20%;
  left: 15%;
}

@media screen and (max-width: 700px) {
  .footer .footer-social-wrap .footer-social {
    left: 1%;
  }
}

.footer .footer-social-wrap .footer-social h1 {
  text-transform: uppercase;
  color: #0971c8;
  font-size: 2.5em;
  font-weight: 600;
}

.footer .footer-social-wrap .footer-social .links {
  margin: 2.5em;
}

.footer .footer-social-wrap .footer-social .links a {
  color: red;
  font-size: 1.5em;
  font-family: "brandon", sans-serif;
  font-weight: 600;
  color: #006fd1;
  margin: 0 15px;
}

.footer .footer-social-wrap .footer-social .email-me {
  font-family: "brandon", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  color: #494949;
  border: solid #494949;
  padding: 10px 50px;
  letter-spacing: 1px;
  line-height: 20px;
}

@media screen and (max-width: 480px) {
  .footer .footer-social-wrap .footer-social .email-me {
    border: 0px;
  }
}

.footer .copyright {
  height: 70px;
  background: #474747;
  padding-top: 30px;
}

.footer .copyright h5 {
  letter-spacing: 4px;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  line-height: 17px;
}

.footer .copyright .social-links {
  margin-top: 20px;
}

.footer .copyright .social-links a {
  font-size: 1.2em;
  letter-spacing: 2px;
  font-family: "brandon", sans-serif;
  font-weight: 300;
  margin-right: 10px;
  color: #fff;
  opacity: .6;
}

.footer .copyright .social-links a:hover {
  opacity: 1;
}

/*importing responsive*/
@media only screen and (min-width: 317px) and (max-width: 479px) {
  /*About*/
  .banner-content-about {
    font-size: 9px;
  }
  .banner-content-about h1 {
    font-size: 2em;
  }
  .banner-content-about h2 {
    font-size: 3.5em;
    padding: 7px 13px 15px 5px;
  }
  section.about-content .about-me-description {
    padding-left: 0;
    padding: 0 10px;
  }
  .work-journey .journey {
    width: 94%;
  }
  /*portfolio*/
  .banner-content-projects h1 {
    display: inline-block;
    border: 3px solid;
    font-size: 3em;
    letter-spacing: 7px;
    padding: 17px 32px;
  }
  .banner-content-projects h2 {
    font-size: 1.5em;
  }
  .portfolio-web .project-wrapper {
    padding: 40px;
  }
  .portfolio-flash .project-wrapper {
    padding: 40px;
  }
}
