$main_font:'Montserrat', sans-serif;
$oswald:'Oswald', sans-serif;


@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin direction($value) {
  -webkit-flex-direction: $value;
  -moz-flex-direction: $value;
  -ms-flex-direction: $value;
  -o-flex-direction: $value;
  flex-direction: $value;
}

@mixin justify-content($val1) {
  -webkit-justify-content: $val1;
  -moz-justify-content: $val1;
  -ms-justify-content: $val1;
  -o-justify-content: $val1;
  justify-content: $val1;
}

@mixin align-items($val2){
  -webkit-align-items: $val2;
  -moz-align-items: $val2;
  -ms-align-items: $val2;
  -o-align-items: $val2;
  align-items: $val2;
}


@mixin transition($val3){
  -webkit-transition: $val3;
  -moz-transition: $val3;
  -ms-transition: $val3;
  -o-transition: $val3;
  transition: $val3;
}
