doctype html
html(lang="en")
  include includes/head
  body

    div(class="body-wrapper")
      include includes/mainmenu
      include includes/newsletter-section
      include includes/foot
  
  
  
  
