doctype html
html(lang="en")
  head
    include _include/head
  body
    main.project-pg
      include _include/projects-header
      //portfolio-navigation
      section.container.row
        nav.portfolio-nav
          ul
            li: a(href="#web") web
            li: a(href="#mobile") mobile
            li: a(href="#landing") landing
            li: a(href="#branding") branding
            li: a(href="#graphics") graphics
            li: a(href="#flash") flash
          
      section.main-container.portfolio-container.portfolio-wrapper
        include _include/portfolio/web
        include _include/portfolio/mobile  
        include _include/portfolio/landing
        include _include/portfolio/branding 
        include _include/portfolio/graphic
        include _include/portfolio/flash       
          
          
                               
            
          
    
    
                
    include _include/footer
    script(type="text/javascript").
      $(document).ready(function(){
        $('title').text('Mudit Jain Projects');
      });
    
     
    
    
