<header class="blog-header">

  <figure class="me-writer">
    <span class="writerBG">
      <svg>
        <use xlink:href="/assets/svg/sprite.svg#writerbg" />
      </svg>
    </span>

    <img src="assets/svg/writer-me.svg" alt="">
  </figure>

  <div class="bh-content">
      <h1>As a Writer.</h1>
      <h2>We love to spread the knowledge!</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
  </div>

</header>


<section class="blogPosts-container">
  <!-- ng-repeat -->
  <article class="blogPost" ng-repeat="post in BlogCtrl.posts">
    <div class="post-meta">
      <span class="date" ng-bind="post.shortdate"></span>
      <span class="dot"></span>
      <a class="category" ng-bind="post.category">Work</a>
    </div>

    <div class="post-content">
      <h1 class="post-title" ng-bind="post.title"></h1>
      <div class="post-excerpt" ng-bind-html="(post.excerpt | renderHTML)" ></div>
    </div>

    <div class="post-actions">
      <a class="read" href="{(post.url)}">
        <span class="Ico-read">
          <svg>
            <use xlink:href="/assets/svg/sprite.svg#readIco" />
          </svg>
        </span>
      </a>

      <a class="love">
        <span class="Ico-love">
          <svg>
            <use xlink:href="/assets/svg/sprite.svg#loveIco" />
          </svg>
        </span>
      </a>
    </div>
  </article>

</section>
