<footer class="main-footer">
  <div class="thanks bg-heading" data-bg-heading="I love building things.">
    <p>
      thanks for stopping here ! please checkout my <a href="#/products">products.</a> feel free to <a href="tel: +918871179130">contact</a> me here.
      or email me at <a href="mailto:1996mudit1502@gmail.com">1996mudit1502@gmail.com</a>.
    </p>

    <!-- skype code -->
    <script type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js"></script>
    <div id="SkypeButton_Call_muditjain1502_1">
     <script type="text/javascript">
       Skype.ui({
       "name": "chat",
       "element": "SkypeButton_Call_muditjain1502_1",
       "participants": ["muditjain1502"],
       "imageSize": 24
       });
     </script>
    </div>
    <!-- skype code -->


  </div>
  <div class="social">
    <ul>
      <li><a href="https://www.behance.net/muditit" target="_blank">behance</a></li>
      <li><a href="https://www.instagram.com/makewebhappy/  " target="_blank">instagram</a></li>
      <li><a href="https://github.com/muditjaingit" target="_blank">github</a></li>
      <li><a href="https://in.linkedin.com/in/muditjain1996" target="_blank">linkedin</a></li>
    </ul>
  </div>

  <div class="copy">
    copyright &copy; 2017. makewebhappy.com...
  </div>
</footer>
