<section class="newsletter">
  <figure class="thumb">
    <svg>
      <use xlink:href="{{site.baseurl}}assets/svg/sprite.svg#newsletterIco" />
    </svg>
  </figure>

  <p class="nl-des">
    Join my private email list to stay updated with cool stuff about design, <br>
    <span>my work and candies!</span>
  </p>

  <form class="nl-form">
    <div class="nl-input">
      <input type="text" placeholder="your@email.com"/>
    </div>

    <button type="submit" class="btn btn--icon-2">
      <span class="Ico-addme icon">
       <svg>
         <use xlink:href="{{site.baseurl}}assets/svg/sprite.svg#addmeIco" />
       </svg>
      </span>
      <span class="btn-text">add me</span>
  </button>
  </form>

</section>
