<section class="welcome bg-heading" data-bg-heading="projects">
  <p class="pt25">Jobs where we can make more than just a portion of the brand image, are especially important to us. To learn more about our role in our favorite projects.</p>
 <p>
   <a href="javascript:void(0)">products</a> that i am building
 </p>
</section>

<section class="proj-container">

  <!-- products starts -->
  <div class="products">
    <!-- full width products -->
    <div class="product">
      <div class="prodWrap">
        <div class="col">
          <figure class="thumb prod-img">
            <svg>
              <use xlink:href="{{site.baseurl}}assets/svg/sprite.svg#profileGen" />
            </svg>
          </figure>
        </div>
        <div class="col">
          <div class="prod-des">
            <h3 class="title">random profile generator</h3>
            <p class="des">
              an amzing profile generator
            </p>
            <a href="javascript:void(0)" class="link-more"> view project </a>
          </div>
        </div>
      </div>

    </div>



    <div class="product">

      <div class="prodWrap">
        <div class="col">
          <figure class="thumb prod-img">
            <svg>
              <use xlink:href="{{site.baseurl}}assets/svg/sprite.svg#storyIco" />
            </svg>
          </figure>
        </div>
        <div class="col">
          <div class="prod-des">
            <h3 class="title">whats your story</h3>
            <p class="des">
              whats your story
            </p>
            <a href="javascript:void(0)" class="link-more"> view project </a>
          </div>
        </div>
      </div>

    </div>



    <div class="product">

      <div class="prodWrap">
        <div class="col">
          <figure class="thumb prod-img">
            <svg>
              <use xlink:href="{{site.baseurl}}assets/svg/sprite.svg#frontEndKit" />
            </svg>
          </figure>
        </div>
        <div class="col">
          <div class="prod-des">
            <h3 class="title">front end starter kit</h3>
            <p class="des">
              sass starter kit
            </p>
            <a href="javascript:void(0)" class="link-more"> view project </a>
          </div>
        </div>
      </div>
    
    </div>
  </div>
  <!-- products ends -->

</section>
