<section class="welcome bg-heading" data-bg-heading="our services">
  <p class="pt25">authentic design, exciting concepts and creative solutions for
    your brand and internet presence.</p>
</section>

<section class="serv-container">
  <div class="services">
    <!-- project -1 - deseno studio -->
    <div class="service" data-bgcolor="#4bfff1">
      <div class="col">
        <figure class="ser-img">
          <img src="{{site.baseurl}}assets/images/s-visualDesign.png" alt="" />
        </figure>
      </div>
      <div class="col">
        <div class="ser-des">
          <h3 class="title">
            <a>visual design</a>
          </h3>
          <p class="des">
            <a>consept</a>,
            <a>UI/UX design</a>,
            <a>branding</a>,
            <a>prototyping</a>,
            <a>graphic design</a>,
            <a>product presentation</a>
          </p>
        </div>
      </div>
    </div>
    <div class="service" data-bgcolor="#fbffb9">
      <div class="col">
        <figure class="ser-img web">
          <img src="{{site.baseurl}}assets/images/s-frontend.png" alt="" />
        </figure>
      </div>
      <div class="col">
        <div class="ser-des">
          <h3 class="title">
          <a>front end web development</a>
          </h3>
          <p class="des">
            <a>design implementation</a>,
            <a>responsive design</a>,
            <a>interactive web app</a>,
            <a>ui development</a>,
            <a>hybrid mobile app</a>
          </p>
        </div>
      </div>
    </div>

    <!-- half column services -->
    <div class="serv-row">
      <div class="service col2" data-bgcolor="#b7fffa">
        <div class="ser-content">
          <figure class="ser-img">
            <img src="{{site.baseurl}}assets/images/s-webdesign.png" alt="" />
          </figure>
          <div class="ser-des">
            <h3 class="title">
            <a>  Web Design</a>
            </h3>
            <p class="des">
              <a>consept</a>,
              <a>wireframe</a>,
              <a>design</a>,<br>
              <a>prototype</a>
            </p>
          </div>
        </div>
      </div>

      <div class="service col2" data-bgcolor="#b9ffc8">
        <div class="ser-content">
          <figure class="ser-img">
            <img src="{{site.baseurl}}assets/images/s-seo.png" alt="" />
          </figure>
          <div class="ser-des">
            <h3 class="title">
            <a>  search engine optimization</a>
            </h3>
            <p class="des">
              <a>seo</a>,
              <a>smm</a>,
              <a>digital marketing</a>,<br />
              <a>content writing</a>
            </p>
          </div>
        </div>

      </div>
    </div>


  </div>
</section>
