<div class="top-header"><!--top header starts -->
  <div class="branding">
    <div class="logo">
      <a href="/">
        <img src="{{site.baseurl}}assets/svg/myavtar.svg" alt="">
      </a>
    </div>
  </div>
  <nav role="navigation" class="main-nav">
    <ul id="navItems">
      <li><a href="services.html">services</a></li>
      <li><a href="projects.html">projects</a></li>
      <li><a href="">blog</a></li>
      <li><a href="">shop</a></li>
    </ul>
  </nav>

</div><!--top header ends -->
