section#branding.portfolio.portfolio-branding.row.center 
  .portfolio-title
    .icon 
      img(style="width:50px" src="media/images/icon/branding.png", alt="")
    h3 branding
  .project-wrapper 
    .row--no-gutter
      .col.col--1-of-3
        .project
          img(src="media/images/projects/Branding/hotelKai.jpg", alt="")
          .project-hover
            h3 Hotel Kai Strand
      .col.col--1-of-3
        .project
          img(src="media/images/projects/Branding/hindi-alakh.jpg", alt="")
          .project-hover
            h3 Hindi Alakh
      .col.col--1-of-3
        .project
          img(src="media/images/projects/Branding/trinity.jpg", alt="")
          .project-hover
            h3 Trinity food packaging
    .row--no-gutter
      .col.col--2-of-3
        .project
          img(src="media/images/projects/Branding/geniokid.jpg", alt="")
          .project-hover
            h3 geniokid - Interactive eBooks 
      .col.col--1-of-3
        .project
          img(src="media/images/projects/Branding/bajrang.jpg", alt="")
          .project-hover
            h3 Bajrang Aluglass
    .row--no-gutter
      .col.col--1-of-3
        .project
          img(src="media/images/projects/Branding/techmudit.jpg", alt="")
          .project-hover
            h3 techmudit
      .col.col--2-of-3
        .project
          img(src="media/images/projects/Branding/iqkindle.jpg", alt="")
          .project-hover
            h3 IQ kindle
        
  h3.load-more: a(href="") load more
