section#graphics.portfolio.portfolio-graphic.row.center 
  .portfolio-title
    .icon 
      img(style="width:50px" src="media/images/icon/graphic.svg", alt="")
    h3 graphic
  .project-wrapper 
    .row
      .col.col--1-of-3
        .project
          img(src="media/images/projects/graphic/olay_ad.jpg", alt="")
          .project-hover
            h3 consagous technologies
      .col.col--1-of-3
        .project
          img(src="media/images/projects/graphic/Petroid.jpg", alt="")
          .project-hover
            h3 Oasis
      .col.col--1-of-3
        .project
          img(src="media/images/projects/graphic/education-banner.jpg", alt="")
          .project-hover
            h3 Oasis 
    
    .row
      .col.col--2-of-4
        .project
          img(src="media/images/projects/graphic/dasshahra-poster.jpg", alt="")
          .project-hover
            h3 consagous technologies
      .col.col--2-of-4
        .project
          img(src="media/images/projects/graphic/music-poster.jpg", alt="")
          .project-hover
            h3 Oasis
    
    .row
      .col.col--1-of-3
        .project
          img(src="media/images/projects/graphic/consagous-b-card.jpg", alt="")
          .project-hover
            h3 consagous technologies
      .col.col--1-of-3
        .project
          img(src="media/images/projects/graphic/Petroid.jpg", alt="")
          .project-hover
            h3 Oasis
      .col.col--1-of-3
        .project
          img(src="media/images/projects/graphic/education-banner.jpg", alt="")
          .project-hover
            h3 Oasis 
            
  h3.load-more: a(href="") load more
