section#landing.portfolio.portfolio-landing.row.center 
  .portfolio-title
    .icon 
      img(src="media/images/icon/landing.svg", alt="")
    h3 Landing
  .project-wrapper 
    .row
      .col.col--6-of-12
        .project
          img(src="media/images/projects/landing/mpage.jpg", alt="")
          .project-hover
            h3 MPage / Landing Page Template
      .col.col--6-of-12
        .project
          img(src="media/images/projects/landing/resume.jpg", alt="")
          .project-hover
            h3 Resume / Freebie design
    .row
      .col.col--6-of-12
        .project
          img(src="media/images/projects/landing/stepup.jpg", alt="")
          .project-hover
            h3 Look & Listen / WEB UI DEsiGn
      .col.col--6-of-12
        .project
          img(src="media/images/projects/landing/trent.jpg", alt="")
          .project-hover
            h3 Trent Carpet Cleaner / Website Design
      
      
  h3.load-more: a(href="") load more
