section#mobile.portfolio.portfolio-mobile.row.center 
  .portfolio-title
    .icon 
      img(src="media/images/icon/mobile.svg", alt="")
    h3 MOBILE
  .project-wrapper 
    .row
      .col.col--6-of-12
        .project
          img(src="media/images/projects/mobile/connect.jpg", alt="")
          .project-hover
            h3 Connect / iOS
      .col.col--6-of-12
        .project
          img(src="media/images/projects/mobile/slack.jpg", alt="")
          .project-hover
            h3 Slack / iOS
    .row
      .col.col--6-of-12
        .project
          img(src="media/images/projects/mobile/ebahayas.jpg", alt="")
          .project-hover
            h3 E- Abhayas / Android
      .col.col--6-of-12
        .project
          img(src="media/images/projects/mobile/ignou.jpg", alt="")
          .project-hover
            h3 Ignou / Android
    .row
      .col.col--6-of-12
        .project
          img(src="media/images/projects/mobile/ignou.jpg", alt="")
          .project-hover
            h3 mypandit g / android + ios
      .col.col--6-of-12
        .project
          img(src="media/images/projects/mobile/starbucks.jpg", alt="")
          .project-hover
            h3 Starbucks / ios
  
  h3.load-more: a(href="") load more
