section#mobile.portfolio.portfolio-mobile.row.center 
  .portfolio-title
    .icon 
      img(src="media/images/icon/mobile.svg", alt="")
    h3 MOBILE
  .project-wrapper 
    .row
      .col.col--4-of-12.col--m-6-of-12
        .project
          img(src="media/images/projects/mobile/connect.jpg", alt="")
          .project-hover
            h3 Connect
      .col.col--4-of-12.col--m-6-of-12
        .project
          img(src="media/images/projects/mobile/slack.jpg", alt="")
          .project-hover
            h3 Slack
  
      .col.col--4-of-12.col--m-6-of-12
        .project
          img(src="media/images/projects/mobile/ebahayas.jpg", alt="")
          .project-hover
            h3 E- Abhayas
  
      .col.col--4-of-12.col--m-6-of-12
        .project
          img(src="media/images/projects/mobile/ignou.jpg", alt="")
          .project-hover
            h3 Ignou
  
      .col.col--4-of-12.col--m-6-of-12
        .project
          img(src="media/images/projects/mobile/puja.jpg", alt="")
          .project-hover
            h3 mypandit g
      .col.col--4-of-12.col--m-6-of-12
        .project
          img(src="media/images/projects/mobile/starbucks.jpg", alt="")
          .project-hover
            h3 Starbucks
  
  h3.load-more: a(href="") load more
