section.portfolio.portfolio-web.row.center 
  .portfolio-title
    .icon 
      img(src="media/images/icon/web.svg", alt="")
    h3 web
  .project-wrapper 
    .row--no-gutter
      .col.col--1-of-2
        .project
          img(src="media/images/projects/web/consagous.jpg", alt="")
          .project-hover
            h3 consagous technologies
      .col.col--1-of-2
        .project
          img(src="media/images/projects/web/oasis.jpg", alt="")
          .project-hover
            h3 Oasis
    .row--no-gutter
      .col.col--1-of-2
        .project
          img(src="media/images/projects/web/efflux.jpg", alt="")
          .project-hover
            h3 efflux
      .col.col--1-of-2
        .project
          img(src="media/images/projects/web/pujaaaa.jpg", alt="")
          .project-hover
            h3 My Pandit G
    .row--no-gutter
      .col.col--1-of-2
        .project
          img(src="media/images/projects/web/bajrang.jpg", alt="")
          .project-hover
            h3 Bajrang Aluglass
      .col.col--1-of-2
        .project
          img(src="media/images/projects/web/pwc.jpg", alt="")
          .project-hover
            h3 patna women's college 
  h3.load-more: a(href="") load more
