footer.footer.center 
  .footer-social-wrap
    .footer-social
      h1 more stuff
      .links    
        a.uc(href="#") Behance
        a.uc(href="#") linkedin
        a.uc(href="#") github
      .email-me
        a.uc(href="") Email Me Today -  1996mudit1502@gmail.com
      
  .copyright
    h5.uc Copyright 2016..techmudit.com
    .social-links
      a.uc(href="#") Behance
      a.uc(href="#") linkedin
      a.uc(href="#") github
    
    
script(type="text/javascript", src="js/jquery.min.js")
script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.0.6/jquery.mousewheel.min.js")
script(type="text/javascript", src="js/simplr.smoothscroll.js")
script(type="text/javascript", src="js/main.js")
  
