footer.footer.center 
  .footer-social-wrap
    .footer-social
      h1 more stuff
      .links    
        a.uc(href="https://www.behance.net/muditit" target="_blank") Behance
        a.uc(href="https://www.instagram.com/happyjnwd/" target="_blank") instagram
        a.uc(href="https://www.flickr.com/photos/muditjain/" target="_blank") flikr
      .email-me
        a.uc(href="mailto:1996mudit1502.com?Subject=techmudit.com") Email Me Today -  1996mudit1502@gmail.com
      
  .copyright
    h5.uc Copyright &copy; 2016 
    .social-links
      a.uc(href="https://in.linkedin.com/in/muditjain1996" target="_blank") linkedin
      a.uc(href="https://twitter.com/muditit" target="_blank") twitter
      a.uc(href="https://github.com/muditjaingit" target="_blank") github
    
    
script(type="text/javascript", src="js/jquery.min.js")
script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.0.6/jquery.mousewheel.min.js")
script(type="text/javascript", src="js/simplr.smoothscroll.js")
script(type="text/javascript", src="js/main.js")
  
