header.top-banner.project-banner-bg
  .container
    section.header-top.clearfix
      .branding
        .logo.uc tidum
      nav.main-navigation
        ul
          li: a.uc(href="index.html") about me<br>
            .active
          li: a.uc(href="project.html") projects<br>
            .active
        //  li: a.uc(href="") hire me<br>
          //  .active
    .banner-content-projects
      h1 Projects
      h2 What i have done?
    //.page-title: a(href="#") 
//header closed
