@font-face {
    font-family: 'bernardo_moda_semiboldregular';
    src: url('bernardo_moda_semibold-webfont.eot');
    src: url('bernardo_moda_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('bernardo_moda_semibold-webfont.woff2') format('woff2'),
         url('bernardo_moda_semibold-webfont.woff') format('woff'),
         url('bernardo_moda_semibold-webfont.ttf') format('truetype'),
         url('bernardo_moda_semibold-webfont.svg#bernardo_moda_semiboldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bernardo_modaregular';
    src: url('bernardo_moda-webfont.eot');
    src: url('bernardo_moda-webfont.eot?#iefix') format('embedded-opentype'),
         url('bernardo_moda-webfont.woff2') format('woff2'),
         url('bernardo_moda-webfont.woff') format('woff'),
         url('bernardo_moda-webfont.ttf') format('truetype'),
         url('bernardo_moda-webfont.svg#bernardo_modaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
