section#flash.portfolio.portfolio-flash.row.center 
  .portfolio-title
    .icon 
      img(style="width:50px" src="media/images/icon/flash.svg", alt="")
    h3 flash
  .project-wrapper 
    .row
      .col.col--1-of-2
        .project
          img(src="media/images/projects/flash/e-card.jpg", alt="")
          .project-hover
            h3 Valentine E card
      .col.col--1-of-2
        .project
          img(src="media/images/projects/flash/ipad.jpg", alt="")
          .project-hover
            h3 Ipad in flash
      
    .row
      .col.col--1-of-2
        .project
          img(src="media/images/projects/flash/movie-slide-show.jpg", alt="")
          .project-hover
            h3 promo slideshow
      .col.col--1-of-2
        .project
          img(src="media/images/projects/flash/website.jpg", alt="")
          .project-hover
            h3 Website in flash
    
  
            
  h3.load-more: a(href="") load more
