section#graphics.portfolio.portfolio-graphic.row.center 
  .portfolio-title
    .icon 
      img(style="width:50px" src="media/images/icon/graphic.svg", alt="")
    h3 graphic
  .project-wrapper 
    .row
      .col.col--1-of-3
        .project
          img(src="media/images/projects/graphic/olay_ad.jpg", alt="")
          .project-hover
            h3 Olay anti-wrinkle AD
      .col.col--1-of-3
        .project
          img(src="media/images/projects/graphic/Petroid.jpg", alt="")
          .project-hover
            h3 Image Effect
      .col.col--1-of-3
        .project
          img(src="media/images/projects/graphic/education-banner.jpg", alt="")
          .project-hover
            h3 POster for Child education campaign 
    
    .row
      .col.col--2-of-4
        .project
          img(src="media/images/projects/graphic/dasshahra-poster.jpg", alt="")
          .project-hover
            h3 Happy Dussehra Poster 
      .col.col--2-of-4
        .project
          img(src="media/images/projects/graphic/music-poster.jpg", alt="")
          .project-hover
            h3 Poster for Music Agency
    
    .row
      .col.col--1-of-3
        .project
          img(src="media/images/projects/graphic/consagous-b-card.jpg", alt="")
          .project-hover
            h3 Business Card Design for Consagous
      .col.col--1-of-3
        .project
          img(src="media/images/projects/graphic/greeting_card.jpg", alt="")
          .project-hover
            h3 THank you greeting card
      .col.col--1-of-3
        .project
          img(src="media/images/projects/graphic/scetch-ps.jpg", alt="")
          .project-hover
            h3 sketch Illustration 
            
  h3.load-more: a(href="") load more
