.menu_wrapper
  div(id="opener")
    a(href='#'): img(src="assets/img/opener.png")
  div(class='main-menu')
      figure
        img(class='logo' src='assets/img/logo.png' title='techmudit')
      nav(class="navigation")
        ul
          li: a(href="#") home
          li: a(href="#") about
          li: a(href="#") work
          li: a(href="#") conact
          li: a(href="#") hire me
    
    
    
