.newsletter-wrapper.section-wrapper
  .newsletter-section
    .newsletter-background
    header
      h1 subscribe newsletter 
      hr
      h3 ...Sending email notes...
    
    form(action='http://formspree.io/1996mudit1502@gmail.com' method='post' class='newsletter_form')
      input(type='email' id='newsletter_email' name="email-id" placeholder='yourmail@getawesome.com')
      input(type='submit' id='newsletter_submit' value="Subscribe")
    
    .info-notes
      .info: p 
                | Notes are weekly email messages that come directly to your inbox. Most of the notes I send will never be available anywhere else. You should sign up.
    
      .thank: p
                | THanK <br> <span>You</span> :)
                  
    
  
