---
layout: compress
---

<!DOCTYPE html>
<html ng-app="mwhApp" ng-strict-di>
    {% include head.html %}
    <body ng-controller="MainCtrl" class="">
      <div class="mobileNavWrap">
        <div class="mobileNav-content">
          <header class="mn-header">
            <div class="mn-image" style="background-image: url({{ site.baseurl }}assets/images/mudit.jpg)">
              <div class="logo">
                <a href="/">
                  <img src="/assets/svg/myavtar.svg" alt="">
                </a>
              </div>
            </div>



          </header>

          <div class="mn-content">
            <nav class="mn-nav">
              <ul>
                <li>
                  <a>&nbsp;</a>
                </li>
                <li>
                  <a href="#/services">services</a>
                </li>
                <li>
                  <a href="#/projects">projects</a>
                </li>
                <li>
                  <a href="#/products">products</a>
                </li>
                <li>
                  <a>blog</a>
                </li>
                <li>
                  <a>shop</a>
                </li>

              </ul>
            </nav>
          </div>

        </div>

      </div>

        {{ content }}

    {% include scripts.html %}
    </body>
</html>
